@import "../../setup/style/colors";

.list-wrap {
  padding-top: 180px;
  color: black;

  .address-wrap {
    $width: 100% /3;
    display: inline-block; /* Get all images to show in a row */
    width: $width; /* Show 4 logos per row */
    .item-wrap {
      padding: 15px;
    }

    .item {
      width: 100%;
      height: 230px;
      padding: 20px;
      background-color: $white;
      -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);

      h5 {
        font-weight: bold;
        font-size: 25px;
      }
    }
  }
}
