%common-style {
  flex         : 0 0 100%;
  margin-left  : 0 !important;
  margin-right : 0 !important;
  width        : 100%;
  //
  @media (min-width : 1266px) {
    $size : 1266px - 20px;
    margin-left  : auto !important;
    margin-right : auto !important;
    width        : $size;
    flex         : 0 0 $size;
  }
}



.limited {
  display   : flex;
  flex-wrap : wrap;
  @extend %common-style;
}

